$depage-live-edit-highlight-color: #882200 !default;

@keyframes depage-live-edit-highlight {
    0% {
        outline: 4px solid $depage-live-edit-highlight-color;
    }
    99% {
        outline: 4px solid transparentize($depage-live-edit-highlight-color, 1);
    }
    100% {
        outline: none;
    }
}

.depage-live-edit-highlight {
    animation: depage-live-edit-highlight 700ms linear;
    outline-offset: 4px;
}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
